/*
|----------------------------|
|THIS IS GLOBAL CONFIGURATION|
|----------------------------|
 */

@font-face {
    font-family: 'Minecraft';
    src: url('fonts/Minecraft.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow-x: hidden;
    background: linear-gradient(rgba(10, 26, 47, 0.9), rgba(10, 26, 47, 0.9)),
    url('images/bg.png') no-repeat center center / cover scroll;
    color: #D0EFFF;
}

/*
|--------------------------|
|THIS IS THE NAVBAR SECTION|
|--------------------------|
 */

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0A1A2F top center/cover;
    padding: 10px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.25);
}

.navbar ul {
    display: flex;
    list-style: none;
    margin-bottom: 0;
    margin-top: 20px;
}

.navbar li {
    margin-right: 50px;
    transform: scale(1);
    transition: transform 0.3s;
}

.navbar a {
    text-decoration: none;
    font-family: 'Minecraft', serif;
    transition: color 0.3s;
    display: inline-block;
    line-height: 0;
    color: #D0EFFF;
}

.navbar span {
    display: inline-block;
    transform: scale(1);
    padding: 3px;
    position: relative;
    transition: transform 0.3s, rotate 0.3s;
}

.navbar span::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #D0EFFF;
    transition: width 0.3s, background-color 0.3s;
}

.navbar span:hover {
    transform: scale(1.2);
    rotate: 10deg;
}

.navbar span:hover::after {
    width: 100%;
    background-color: #3FD2C7;
}

.navbar a:hover {
    color: #3FD2C7;
}

/*
|----------------------------------|
|THIS IS THE COPY IP BUTTON SECTION|
|----------------------------------|
*/

.copy-ip {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    margin: 0;
    padding: 0;
    text-align: center;
}

.copy-ip button {
    background-color: transparent;
    color: #D0EFFF;
    border: 2px solid #3FD2C7;
    padding: 25px 60px 20px;
    font-family: 'Minecraft', sans-serif;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0);
    animation: floaty 9s ease-in-out infinite;
    transition: all 0.3s ease-in-out;
}

.copy-ip button:hover {
    border-color: #FFFFFF;
    color: #FFFFFF;
    box-shadow: 0 0 8px #3FD2C7;
}

@keyframes floaty {
    0%   { transform: translateY(0px) translateX(0px) rotate(0deg); }
    25%  { transform: translateY(-3px) translateX(3px) rotate(-1deg); }
    50%  { transform: translateY(0px) translateX(0px) rotate(0deg); }
    75%  { transform: translateY(3px) translateX(-3px) rotate(1deg); }
    100% { transform: translateY(0px) translateX(0px) rotate(0deg); }
}